<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilo.css"">
    <title>AFTER-Servicios</title>
</head>
<body>
    <header class="navBack">
        <div id="top">
            <div class="logo">
                <img class="logo1" src="../Fotos/Imagen de WhatsApp 2022-11-01 a las 23.34.42.jpg" width="200px" alt="Logo">
            </div>
        <nav>
            <ul class="menu">
                <li class="item"><a href="../index.html">Inicio</a></li>
                <li class="item"><a href="./Categorías.html">Categorias</a>
                    <ul class="submenu">
                        <li class="sub_i"> <a href="./Categorías.html">Anime</a></li>
                        <li class="sub_i"> <a href="./Categorías.html">Dioramas</a></li>
                        <li class="sub_i"> <a href="./Categorías.html">Peliculas</a></li>
                    </ul>
                </li>
                <li class="item"> <a href="./Servicios.html">Servicios</a>
                    <ul class="submenu">
                        <li class="sub_i"><a href="./Servicios.html">Impresion 3d</a></li>
                        <li class="sub_i"><a href="./Servicios.html">Diseño 3d</a></li>
                        <li class="sub_i"><a href="./Servicios.html">Personalizado</a></li>
                    </ul>  
                </li>
                <li class="item"><a href="./Cotizaciones.html">Cotizaciones</a></li>
                <li class="item"><a href="./Nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Servicios</h2>
    </main>
    <footer>
        <h5>Todos los derechos reservados R</h5>
    </footer>
</body>
</html>